/* header {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: chocolate;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
} */